<a href="https://colab.research.google.com/github/guidobavosacastelao/Curso_Python_2022/blob/main/Cuaderno_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import io
import seaborn as sb
from google.colab import files

In [ ]:
pip install --upgrade xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 3.7 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

Genero un Data Frame

In [ ]:
data= {'state':['NY','TX','FL','AL','AK','TX','TX'],
       'color': ['blue','green','red','white','gray','black','red'],
       'food':['Steak','Lamb','Mango','Apple','Cheese','Melon','Beans'],
       'age':[30,2,12,4,32,33,69],
       'height':[165,70,120,80,180,172,150],
       'score':[4.6,8.3,9.0,3.3,1.8,9.5,2.2]}

In [ ]:
df=pd.DataFrame(data, columns=['state','color','food','age','height','score'],
                       index=['Jane','Niko','Aaron','Penelope','Dean','Christina','Cornelia'])
                       
df

          state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

Puedo subirlo desde la máquina local

In [ ]:
 files.upload()

Saving dataframe.csv to dataframe.csv

{'dataframe.csv': b'\xef\xbb\xbf,state,color,food,age,height,score\nJane,NY,blue,Steak,30,165,4.6\nNiko,TX,green,Lamb,2,70,8.3\nAaron,FL,red,Mango,12,120,9.0\nPenelope,AL,white,Apple,4,80,3.3\nDean,AK,gray,Cheese,32,180,1.8\nChristina,TX,black,Melon,33,172,9.5\nCornelia,TX,red,Beans,69,150,2.2\n'}

In [ ]:
df1 = pd.read_csv('dataframe.csv')

In [ ]:
df1

  Unnamed: 0 state  color    food  age  height  score
0       Jane    NY   blue   Steak   30     165    4.6
1       Niko    TX  green    Lamb    2      70    8.3
2      Aaron    FL    red   Mango   12     120    9.0
3   Penelope    AL  white   Apple    4      80    3.3
4       Dean    AK   gray  Cheese   32     180    1.8
5  Christina    TX  black   Melon   33     172    9.5
6   Cornelia    TX    red   Beans   69     150    2.2

In [ ]:
df1=df1.set_index('Unnamed: 0')
df1

           state  color    food  age  height  score
Unnamed: 0
Jane          NY   blue   Steak   30     165    4.6
Niko          TX  green    Lamb    2      70    8.3
Aaron         FL    red   Mango   12     120    9.0
Penelope      AL  white   Apple    4      80    3.3
Dean          AK   gray  Cheese   32     180    1.8
Christina     TX  black   Melon   33     172    9.5
Cornelia      TX    red   Beans   69     150    2.2

In [ ]:
df1.index.name = None

In [ ]:
df1

          state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [ ]:
df.info
df.head

<bound method NDFrame.head of           state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2>

In [ ]:
df.shape # cantidad de filas y columnas

(7, 6)


Extracción de los componentes individuales de DataFrame

In [ ]:
index = df.index
columns = df.columns
values = df.values

In [ ]:
index

Index(['Jane', 'Niko', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'], dtype='object')

In [ ]:
columns

Index(['state', 'color', 'food', 'age', 'height', 'score'], dtype='object')

In [ ]:
values

array([['NY', 'blue', 'Steak', 30, 165, 4.6],
       ['TX', 'green', 'Lamb', 2, 70, 8.3],
       ['FL', 'red', 'Mango', 12, 120, 9.0],
       ['AL', 'white', 'Apple', 4, 80, 3.3],
       ['AK', 'gray', 'Cheese', 32, 180, 1.8],
       ['TX', 'black', 'Melon', 33, 172, 9.5],
       ['TX', 'red', 'Beans', 69, 150, 2.2]], dtype=object)

In [ ]:
type(index)

pandas.core.indexes.base.Index

In [ ]:
type(columns)

pandas.core.indexes.base.Index

In [ ]:
type(values)

## Selección  con **[  ]**, **.loc** y **.iloc**

In [ ]:
df['food'] # Para seleccionar una sola columna de datos, simplemente hay que colocar el nombre de la columna entre corchetes

Jane          Steak
Niko           Lamb
Aaron         Mango
Penelope      Apple
Dean         Cheese
Christina     Melon
Cornelia      Beans
Name: food, dtype: object

In [ ]:
df[['color', 'food', 'score']] # Es posible seleccionar varias columnas # A qué Data Type se recurre?

           color    food  score
Jane        blue   Steak    4.6
Niko       green    Lamb    8.3
Aaron        red   Mango    9.0
Penelope   white   Apple    3.3
Dean        gray  Cheese    1.8
Christina  black   Melon    9.5
Cornelia     red   Beans    2.2

In [ ]:
df[['food']] # devuelve un dataframe mediante la colocación de doble corchete

             food
Jane        Steak
Niko         Lamb
Aaron       Mango
Penelope    Apple
Dean       Cheese
Christina   Melon
Cornelia    Beans

In [ ]:
df[['color', 'height']] # devuelve otro dataframe pero de dos columnas

           color  height
Jane        blue     165
Niko       green      70
Aaron        red     120
Penelope   white      80
Dean        gray     180
Christina  black     172
Cornelia     red     150

In [ ]:
df['hight'] # Si escribís mal una palabra, se te va a generar un KeyError

KeyError: ignored

In [ ]:
df['color', 'age']    # Si te olvidaste de usar una lista para contener varias columnas, también se generará un KeyError
                      # debería ser:  df[['color', 'age']]

KeyError: ignored

El indexador **.loc** selecciona los datos de una manera diferente a como lo hace el operador de indexación. Puede seleccionar subconjuntos de filas o columnas. También puede seleccionar simultáneamente subconjuntos de filas y columnas. Lo más importante, solo selecciona datos por la **ETIQUETA** de las filas y columnas.

In [ ]:
df.loc['Niko'] # El indexador .loc devolverá una sola fila como una Serie cuando se le de una etiqueta de fila única.
               # Seleccionemos la fila para 'Niko'

state        TX
color     green
food       Lamb
age           2
height       70
score       8.3
Name: Niko, dtype: object

In [ ]:
df.loc[['Niko', 'Penelope']] # Para seleccionar varias filas, colocar todas las etiquetas de fila se deseen seleccionar 
                             # en una lista y pasarlas a .loc. Seleccionemos a Niko y Penélope

         state  color   food  age  height  score
Niko        TX  green   Lamb    2      70    8.3
Penelope    AL  white  Apple    4      80    3.3

In [ ]:
df.loc['Niko':'Dean']       # Se selecciona un rango de filas con .loc

         state  color    food  age  height  score
Niko        TX  green    Lamb    2      70    8.3
Aaron       FL    red   Mango   12     120    9.0
Penelope    AL  white   Apple    4      80    3.3
Dean        AK   gray  Cheese   32     180    1.8

In [ ]:
df.loc[:'Aaron']            # Todo hasta Aaron (inclusive)

      state  color   food  age  height  score
Jane     NY   blue  Steak   30     165    4.6
Niko     TX  green   Lamb    2      70    8.3
Aaron    FL    red  Mango   12     120    9.0

In [ ]:
df.loc['Niko':'Christina':2] # Desde Niko hasta Christina en pasos de a dos

          state  color   food  age  height  score
Niko         TX  green   Lamb    2      70    8.3
Penelope     AL  white  Apple    4      80    3.3
Christina    TX  black  Melon   33     172    9.5

In [ ]:
df.loc['Dean':]              # Desde Dean en adelante y hasta el final

          state  color    food  age  height  score
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

Seleccionando filas y columnas simultáneamente con .loc :

```python
df.loc[row_selection, column_selection]
```

In [ ]:
df.loc[['Dean', 'Cornelia'], ['age', 'state', 'score']] # Seleccionamos dos filas y tres columnas

          age state  score
Dean       32    AK    1.8
Cornelia   69    TX    2.2

Se puede usar cualquier combinación de selecciones para filas o columnas para .loc

In [ ]:
df.loc[['Dean', 'Aaron'], 'food']

Dean     Cheese
Aaron     Mango
Name: food, dtype: object

In [ ]:
df.loc['Jane':'Penelope', ['state', 'color']]

         state  color
Jane        NY   blue
Niko        TX  green
Aaron       FL    red
Penelope    AL  white

In [ ]:
df.loc[['Jane'],['age']] # Otro ejemplo

      age
Jane   30

In [ ]:
df.loc['Jane', 'age'] # Continuación (join Jane con age)

30

In [ ]:
df.loc[:'Dean', 'height':] # Seleccionar todo hasta Dean, y de height en adelante

          height  score
Jane         165    4.6
Niko          70    8.3
Aaron        120    9.0
Penelope      80    3.3
Dean         180    1.8

In [ ]:
df.loc[:, ['food', 'color']] # Es posible seleccionar todas las filas usando dos puntos.

             food  color
Jane        Steak   blue
Niko         Lamb  green
Aaron       Mango    red
Penelope    Apple  white
Dean       Cheese   gray
Christina   Melon  black
Cornelia    Beans    red

In [ ]:
df.loc[['Penelope','Cornelia'], :] # También se puede recurrir a esta notación para seleccionar todas las columnas

         state  color   food  age  height  score
Penelope    AL  white  Apple    4      80    3.3
Cornelia    TX    red  Beans   69     150    2.2

In [ ]:
df.loc[['Penelope','Cornelia']]   # Esta línea de código es equivalente a la de arriba. Toma todas las columnas

         state  color   food  age  height  score
Penelope    AL  white  Apple    4      80    3.3
Cornelia    TX    red  Beans   69     150    2.2

In [ ]:
rows = ['Jane', 'Niko', 'Dean', 'Penelope', 'Christina']
cols = ['state', 'age', 'height', 'score']
df.loc[rows, cols]               # Esta es otra manera de asignar los nombres de las filas y columnas

          state  age  height  score
Jane         NY   30     165    4.6
Niko         TX    2      70    8.3
Dean         AK   32     180    1.8
Penelope     AL    4      80    3.3
Christina    TX   33     172    9.5


El indexador **.iloc** es muy similar a **.loc** pero solo usa ubicaciones enteras para hacer sus selecciones. La palabra **.iloc** en sí misma significa ubicación de enteros, por lo que debería ayudar a recordar lo que hace.

In [ ]:
df.iloc[3] # Al pasar un solo entero a .iloc, va a seleccionar una fila como Serie

state        AL
color     white
food      Apple
age           4
height       80
score       3.3
Name: Penelope, dtype: object

In [ ]:
df.iloc[[3]]  # En vez de verlo como una Serie se puede ver como un Dataframe

         state  color   food  age  height  score
Penelope    AL  white  Apple    4      80    3.3

In [ ]:
df.iloc[[5, 2, 4]] # Se pueden utilizar una lista de enteros para seleccionar varias filas
                   # No usar df.iloc[5, 2, 4]

          state  color    food  age  height  score
Christina    TX  black   Melon   33     172    9.5
Aaron        FL    red   Mango   12     120    9.0
Dean         AK   gray  Cheese   32     180    1.8

In [ ]:
df.iloc[3:5]      # Toma la posición 3 hasta la 4 inclusive. A Christina no la incluye

         state  color    food  age  height  score
Penelope    AL  white   Apple    4      80    3.3
Dean        AK   gray  Cheese   32     180    1.8

In [ ]:
df.iloc[3:]     # Desde la fila 3 en adelante

          state  color    food  age  height  score
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [ ]:
df.iloc[3::2] # Desde la fila tres, hasta el final, de a dos

          state  color   food  age  height  score
Penelope     AL  white  Apple    4      80    3.3
Christina    TX  black  Melon   33     172    9.5

In [ ]:
print(df['height'].min()) # Minimo
print(df['height'].max()) # Maximo
print(df['height'].count()) # Cantidad
print(df['height'].idxmax()) # El índice del valor máximo
print(df['height'].idxmin()) # El índice del valor mínimo
print(df['height'].quantile([.25,.5,.75])) # Los quantiles
print(df['height'].skew()) # Asimetria
print(df['height'].kurtosis()) # Kurtosis

70
180
7
Dean
Niko
0.25    100.0
0.50    150.0
0.75    168.5
Name: height, dtype: float64
-0.604078039274013
-1.5710491580354247

In [ ]:
df

          state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [ ]:
df.loc['Cacho'] = ['BF','brown','Milanga',50,176,4.5] # Agrego una columna
df

          state  color     food  age  height  score
Jane         NY   blue    Steak   30     165    4.6
Niko         TX  green     Lamb    2      70    8.3
Aaron        FL    red    Mango   12     120    9.0
Penelope     AL  white    Apple    4      80    3.3
Dean         AK   gray   Cheese   32     180    1.8
Christina    TX  black    Melon   33     172    9.5
Cornelia     TX    red    Beans   69     150    2.2
Cacho        BF  brown  Milanga   50     176    4.5

In [ ]:
df = df.drop('Cacho') # Elimino una fila
df

          state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [ ]:
df['Bonus Rate'] = [.2, .1, 0, .15, .12, .3, .05] # Agrego una nueva columna al dataframe
df

          state  color    food  age  height  score  Bonus Rate
Jane         NY   blue   Steak   30     165    4.6        0.20
Niko         TX  green    Lamb    2      70    8.3        0.10
Aaron        FL    red   Mango   12     120    9.0        0.00
Penelope     AL  white   Apple    4      80    3.3        0.15
Dean         AK   gray  Cheese   32     180    1.8        0.12
Christina    TX  black   Melon   33     172    9.5        0.30
Cornelia     TX    red   Beans   69     150    2.2        0.05

In [ ]:
salary = pd.Series(data=[12000, 13500,14000,5000,8000,76590,5436],
                  index=['Jane', 'Niko', 'Aaron', 'Penelope','Dean', 'Christina', 'Cornelia'])
df['salary'] = salary       # Otra manera de agregar columnas
df

          state  color    food  age  height  score  Bonus Rate  salary
Jane         NY   blue   Steak   30     165    4.6        0.20   12000
Niko         TX  green    Lamb    2      70    8.3        0.10   13500
Aaron        FL    red   Mango   12     120    9.0        0.00   14000
Penelope     AL  white   Apple    4      80    3.3        0.15    5000
Dean         AK   gray  Cheese   32     180    1.8        0.12    8000
Christina    TX  black   Melon   33     172    9.5        0.30   76590
Cornelia     TX    red   Beans   69     150    2.2        0.05    5436

In [ ]:
df['Bonus Rate'] * df['salary'] # Puedo hacer operaciones entre columnas

Jane          2400.0
Niko          1350.0
Aaron            0.0
Penelope       750.0
Dean           960.0
Christina    22977.0
Cornelia       271.8
dtype: float64

In [ ]:
df['Bonus'] = df['Bonus Rate'] * df['salary'] # Crea una nueva columna que se llama Bonus
df

,state,color,food,age,height,score,Bonus Rate,salary,Bonus
Jane,NY,blue,Steak,30,165,4.6,0.20,12000,2400.0
Niko,TX,green,Lamb,2,70,8.3,0.10,13500,1350.0
Aaron,FL,red,Mango,12,120,9.0,0.00,14000,0.0
Penelope,AL,white,Apple,4,80,3.3,0.15,5000,750.0
Dean,AK,gray,Cheese,32,180,1.8,0.12,8000,960.0
Christina,TX,black,Melon,33,172,9.5,0.30,76590,22977.0
Cornelia,TX,red,Beans,69,150,2.2,0.05,5436,271.8

In [ ]:
df=df.drop(columns=['Bonus Rate', 'salary','Bonus']) # Elimino las columnas que creé anteriormente
df

          state  color    food  age  height  score
Jane         NY   blue   Steak   30     165    4.6
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [ ]:
df_height_130_or_more = df['height'] >= 130 # query 1: devuelve un booleano
df_height_130_or_more

Jane          True
Niko         False
Aaron        False
Penelope     False
Dean          True
Christina     True
Cornelia      True
Name: height, dtype: bool

In [ ]:
criteria = (df['state'] == 'NY') | (df['state'] == 'TX') # query 2
criteria.head()

Jane         True
Niko         True
Aaron       False
Penelope    False
Dean        False
Name: state, dtype: bool

In [ ]:
(df['age'] >= 10) & (df['score'] < 3) # query 3

Jane         False
Niko         False
Aaron        False
Penelope     False
Dean          True
Christina    False
Cornelia      True
dtype: bool

In [ ]:
df.state == 'NY' # query 4

Jane          True
Niko         False
Aaron        False
Penelope     False
Dean         False
Christina    False
Cornelia     False
Name: state, dtype: bool

In [ ]:
df.query("state != 'NY'") # query 5

          state  color    food  age  height  score
Niko         TX  green    Lamb    2      70    8.3
Aaron        FL    red   Mango   12     120    9.0
Penelope     AL  white   Apple    4      80    3.3
Dean         AK   gray  Cheese   32     180    1.8
Christina    TX  black   Melon   33     172    9.5
Cornelia     TX    red   Beans   69     150    2.2

In [ ]:
df.query(" score  >= 5") # query 6

          state  color   food  age  height  score
Niko         TX  green   Lamb    2      70    8.3
Aaron        FL    red  Mango   12     120    9.0
Christina    TX  black  Melon   33     172    9.5

In [ ]:
df.query(" score  >= 5 & state=='TX'") # query 7

          state  color   food  age  height  score
Niko         TX  green   Lamb    2      70    8.3
Christina    TX  black  Melon   33     172    9.5

In [ ]:
# Exportando a CSV

df.to_csv('example.csv',index=False)
files.download('example.csv')

In [ ]:
#Exportando a Excel

df.to_excel('excel_df.xlsx', index=True)
files.download('excel_df.xlsx')

## Ejercicio:

Utilizar un CSV propio, cargarlo a Colab, aplicar estadisticas descriptivas, localizar información, generar por lo menos 5 queries distintas y guardarlo como Excel